@import "../../../theme/color.variables";

button {
  outline: none;
}

.yk-button {
  padding: 8px 12px;
  overflow: hidden;
  border-radius: 6px;
  border: none;
  text-align: center;
  display: inline-block;
  position: relative;
  outline: none;
  font-weight: 400;
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all .1s linear;
  box-sizing: border-box;
}

.yk-button-type-default, .yk-button-type-primary {
  background: $myPrimaryColor;
  color: $white;
  &:hover{
    background: $myPrimaryColorHover;
  }
}

.yk-button-type-error {
  background: $myErrorColor;
  color: $white;
}

.yk-button-disabled {
  background-color: #f7f7fa;
  cursor: not-allowed;
  color: $black;

  &:focus,
  &:hover {
    background-color: #f7f7fa;
    outline: none;
  }
}
